body {
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.up {
    display: flex;
    text-align: center;
    align-items: center;
    height: 75%;
    width: 100%;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-style: italic;
    background-color: blueviolet;
    height: 110px;
    padding: 0;
}

img {
    border: solid white 3px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.container {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.nav a:visited {
    color: black;
}

.nav a:hover {
    color: purple;
}

#exp {
    height: 75%;
    width: 55%;
}

#exp h1 {
    margin-left: 100px;
}

#about {
    margin: 4px 25px 0 0;
    height: 80%;
    width: 45%;
}

#about h1 {
    margin-left: 100px;
}

#about span {
    font-weight: bold;
}